html,
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 60px;
}

h1 {
    font-size: 130%;
    text-align: center;
}

.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
    font-family: "Sirivennela";
}


.post {
    background-color:rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-align: center;
    font-size: 200%;
}

.upper {
    background-image: 
    url("");
}

a:link {
  color:;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}